.escaperoom-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
  padding: 2rem 1.5rem 3rem;
  background-color: var(--primary-darkPurple);
  background-attachment: fixed;
}

@media (min-width: 769px) {
  .escaperoom-page {
    background-image: url("../assets/purple-room2.png");
    background-position: center 35%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width: 768px) {
  .escaperoom-page {
    background-image: url("../assets/purple-curtain.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.door-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 2rem;
}

@media (max-width: 1024px) {
  .door-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.75rem;
  }
}

@media (max-width: 768px) {
  .escaperoom-page {
    padding: 1.5rem 1rem 2rem;
  }

  .door-grid {
    grid-template-columns: 1fr;
    gap: 8rem;
    padding-top: 1rem;
  }
}
